/* common classes */
html, body {
	background-color: #181818;
}

.text-center {
	text-align: center !important;
}

.jc-center {
	justify-content: center;
}

a {
	color: #F6F6F6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Components */
.site-header {
	background-color: #212121;
	height: 70px;
}

.site-title {
	font-weight: bold;
}

.site-note {
	padding: 0 15px;
	color: #E6CC5B;
}

.main-block {
	padding-top: 100px;
}